.headerApp {
  background-color: green;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerApp h1 {
  margin: 4px;
  font-size: 2rem;
  font-weight: bold;
}